#
# |-----| |-----| |-----| |-----| |-----| |-----| |-----| |-----| |-----|
#    |    |       |     | |       |     | |     | |     |    |    |
#    |    |-----| |-----| |---|   |-----| |     | |-----|    |    |-----|
#    |          | |   \   |       |       |     | |   \      |          |
#    |    |-----| |    \  |-----| |       |-----| |    \     |    |-----|
#                                                      made by Todesstoss
#

#⮟ PLUGIN ⮟

#⮟ determines what language the players should be given on the first join
#⮟ (all language files can be found in '/plugins/TSReports/locales')
default-server-language: 'en_US'

#⮟ all players that should not report others can be put here
banned-players:
  - example1
  - example2

#⮟ makes it easier finding bugs / errors
debug: false
#⮟ activates the updater of the plugin
updateChecker: true
#⮟ activates the autodownload of protocolize
protocolize: true

#⮟ GENERAL ⮟

#⮟ determine which commands should be enabled / disabled
commands:
  login: true
  logout: true
  gui: true
  clear: true
  reload: true
  claim: true
  get: true
  delete: true
  list: true
  status-admin: true
  addperm: true
  status-player: true
  report: true
  language: true

#⮟ determines how the admin command can be executed
adminCommands:
  - reports # ← Example: /reports delete <id>
  - reps # ← Example: /reps delete <id>

#⮟ determines how the report command can be executed
reportCommands:
  - report # ← Example: /report language
  - rep # ← Example: /rep language
  - blame # ← Example: /blame language

#⮟ enable / disable different inventories
gui:
  languageselector: true
  adminpanel: true
  managereports: true # ← also contains specificreport inventory
  statuspanel: true

#⮟ determines how many reports are on a page when using the list command
listPageLimit: 10

#⮟ determines how long a player cannot report after reporting (in seconds)
reportCooldown: 60

#⮟ determines how many reports it takes until a certain level is reached
reportsTillMed: 25 # medium level
reportsTillHigh: 50 # high level

#⮟ DATABASE ⮟
mysql:
  enabled: false # if disabled H2 will be used
  host: localhost
  database: minecraft
  username: player
  password: abc123
  port: 3306 # default mysql port

#⮟ DISCORD ⮟
discord:
  enabled: false
  token: 'Your Token Here'
  serverId: 'Your ServerId Here'
  report-announce:
    enabled: true
    channel-id: 'Your Announce Channel Id Here'
    embeds:
      report: true
      claim: true
      delete: true
      complete: true